* {
  margin: 0;
}

html, body, #__next {
  width: 100%;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101921;

  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.app-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin: 0 auto;
}

.login-input {
  width: 100%;
  margin: 5px 10px;
  padding: 5px 10px;

  white-space: pre-wrap;
  color: #FFFFFF;
  font-size: 14px;

  background-color: #17212b;

  border: 1px solid #708499;
  border-radius: 3px;
}

.login-button {
  background-color: transparent;
  color: #708499;
  border: 1px solid #708499;
  border-radius: 3px;

  margin: 5px 10px;
  padding: 5px 10px;
}

.login-button:focus {
  outline: none;
}

.login-button:hover {
  color: #FFFFFF;
  background-color: #708499 !important;
}

.login-button:active {
  color: #FFFFFF;
  background-color: #17212b !important;
}
